* {
    background-color: bisque;
   
}
header {
 
    text-align: center;
   margin: auto;
}
h2 {
    text-align: center;
}
body {
    line-height: 1.6;
    font-family: "Sofia", sans-serif;
    
}

img {
   display: block;
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: transform 0.4s ease;
} 
img:hover {
    transform: scale(1.1);
    filter: brightness(0.7);
}
section {
    margin: auto;
    max-width: 50%;
}
a:hover {
    background-color: #FFE4C4;
    color: #8B4513;
}